extends ./layout.jade

block content

  header
    h1 About
    h1 Working...
  article.empowering
    p Powered by 
      a(href="http://jade-lang.com/") Jade 
      | and 
      a(href="http://sass-lang.com/") Sass
