extends ./layout.jade

block content

  header
    time(datetime="2015-02-11") Feb 11, 2015
    h1 Algoritmi de bază

  article
    h2 Prelucrarea cifrelor unui număr natural (n&#8800;0)
    include ./code/post-3/ex-1.jade

  article
    h2 Formarea oglinditului unui număr
    include ./code/post-3/ex-2.jade

  article
    h2 Formarea numărului identic
    include ./code/post-3/ex-3.jade

  article
    h2 Determinarea cifrei maxime
    include ./code/post-3/ex-4.jade

  article
    h2 Determinarea celui mai mic divizor comun dintre două numere <code class="git">cmmdc(a,b)</code>

    h3 Algoritmul lui Euclid prin scăderi repetate
    include ./code/post-3/ex-5.jade

    h3 Algoritmul lui Euclid prin împărțiri repetate
    include ./code/post-3/ex-6.jade

  article
    h2 Divizorii unui număr
    include ./code/post-3/ex-7.jade

  article
    h2 Descompunerea în factori primi
    include ./code/post-3/ex-8.jade

  article
    h2 Testarea numărului prim
    include ./code/post-3/ex-9.jade

  article
    h2 Prelucrarea șirurilor de numere până la 0
    include ./code/post-3/ex-10.jade

  article
    h2 Prelucrarea șirurilor de n numere
    include ./code/post-3/ex-11.jade

  article
    h2 Determinarea valorii maxime dintr-un șir de numere până la 0
    include ./code/post-3/ex-12.jade

  article
    h2 Determinarea valorii maxime dintr-un șir de n numere
    include ./code/post-3/ex-13.jade
