ul.index-navigation

  li
    a(href="tipuri-de-date-operatori.html") Tipuri de date și operatori
    .details
      .category #[span Subiectul I]
      time(datetime="2015-01-30") Ianuarie 30, 2015
  
  li
    a(href="structuri-de-control.html") Structuri de control
    .details
      .category #[span Subiectul I]
      time(datetime="2015-01-30") Ianuarie 30, 2015
  
  li
    a(href="algoritmi-de-baza.html") Algoritmi de bază
    .details
      .category #[span Subiectul I], #[span Subiectul II], #[span Subiectul III]
      time(datetime="2015-02-11") Februarie 11, 2015
  
  li
    a(href="tablouri-unidimensionale.html") Tablouri unidimensionale
    .details
      .category #[span Subiectul II]
      time(datetime="2015-02-18") Februarie 18, 2015
  
  li
    a(href="tablouri-bidimensionale.html") Tablouri bidimensionale
    .details
      .category #[span Subiectul II]
      time(datetime="2015-02-18") Februarie 18, 2015
  
  li
    a(href="metode-sortare.html") Metode de sortare
    .details
      .category #[span Subiectul I], #[span Subiectul II], #[span Subiectul III]
      time(datetime="2015-02-18") Februarie 18, 2015
  
  li
    a(href="tipul-structura.html") Tipul structură
    .details
      .category #[span Subiectul II]
      time(datetime="2015-02-18") Februarie 18, 2015
  
  li
    a(href="caractere-ascii.html") Caractere ASCII
    .details
      .category #[span Subiectul II], #[span Subiectul III]
      time(datetime="2015-02-18") Martie 4, 2015
  
  li
    a(href="siruri-de-caractere.html") Șiruri de caractere
    .details
      .category #[span Subiectul II], #[span Subiectul III]
      time(datetime="2015-02-18") Martie 4, 2015
  
  li
    a(href="functii-predefinite-siruri.html") Functii predefinite pentru șiruri
    .details
      .category #[span Subiectul II], #[span Subiectul III]
      time(datetime="2015-02-18") Martie 11, 2015
