extends ./layout.jade

block content

  header
    time(datetime="2015-02-11") Feb 11, 2015
    h1 Metode de sortare

  article
    h2 Sortarea vectorilor
    p - metoda prin interschimbare directă
    include ./code/post-6/ex-1.jade
