table
  tr
    th Caracter
    th Cod zecimal
  tr
    td null
    td 0
  tr
    td început de antet
    td 1
  tr
    td început de text
    td 2
  tr
    td sfârșit de text
    td 3
  tr
    td sfârșit de transmisie
    td 4
  tr
    td interogare
    td 5
  tr
    td confirmare
    td 6
  tr
    td semnal sonor
    td 7
  tr
    td pas înapoi
    td 8
  tr
    td tabulator orizontal
    td 9
  tr
    td salt de linie/linie nouă
    td 10
  tr
    td tabulator vertical
    td 11
  tr
    td salt de pagină/pagină nouă
    td 12
  tr
    td retur de car
    td 13
  tr
    td deselectare alternativ
    td 14
  tr
    td selectare alternativ
    td 15


table
  tr
    th Caracter
    th Cod zecimal
  tr
    td comutare a legăturii de date
    td 16
  tr
    td caracter de control al dispozitivului 1
    td 17
  tr
    td caracter de control al dispozitivului 2
    td 18
  tr
    td caracter de control al dispozitivului 3
    td 19
  tr
    td caracter de control al dispozitivului 4
    td 20
  tr
    td confirmare negativă
    td 21
  tr
    td pauză de sincronizare
    td 22
  tr
    td sfârșit de bloc de transmisie
    td 23
  tr
    td revocare
    td 24
  tr
    td sfârșit de suport
    td 25
  tr
    td caracter de substituție
    td 26
  tr
    td caracter de evitare
    td 27
  tr
    td separator de fișier
    td 28
  tr
    td separator de grupuri
    td 29
  tr
    td separator de înregistrări
    td 30
  tr
    td separator unități
    td 31
