table.tflex
  tr
    td #[code &amp;&amp;]
    td A
    td F
  tr
    td A
    td A
    td F
  tr
    td F
    td F
    td F

table.tflex
  tr
    td #[code ||]
    td A
    td F
  tr
    td A
    td A
    td A
  tr
    td F
    td A
    td F

table.tflex
  tr
    td a
    td A
    td F
  tr
    td #[code !]a
    td F
    td A
