pre.c
  code do cin >> C1 >> C2;
     | while (C1&lt;0 || C1>n-1 || C2&lt;0 || C2>n-1);
     | 
     | for (int j=0; j&lt;n; j++) {
     |     int temp = a[i][C1];
     |     a[i][C1] = a [Li][C2];
     |     a[i][C2] = temp;
     | }
