pre.c
  code cin >> m >> n;
     | for (int i=0; i&lt;m; i++)
     |     for (int j=0; j&lt;n; j++) {
     |         cout &lt;&lt; "a[" &lt;&lt; i &lt;&lt; "][" &lt;&lt; j &lt;&lt; "]= ";
     |         cin >> a[i][j];
     |     }
