pre.c
  code for (int i=0; i&lt;n; i++)
     |     for (int j=0; j&lt;n; j++)
     |         if (i&lt;j)
     |     &#09    &lt;prelucrează a[i][j]>
pre.c
  code for (int i=0; i&lt;n; i++)
     |     &lt;prelucrează a[i][n-1-i]>
