pre.c
  code s =0;
     | nr=0;
     | for (int i=0; i&lt;n; i++) {
     |     if ( v[i]>0 ) {
     |         s+= v[i];
     |         nr++;
     |     }
     | }
     | if ( nr!=0 ) {
     |     cout &lt;&lt; "ma= " &lt;&lt; float(s/nr);
     | }
     | else {
     |     cout  &lt;&lt; "nu există";
     | }
