pre.lang-pseudo
  code început
     |     instrucțiune 1;
     |     instrucțiune 2;
     |     instrucțiune 3;
     |     .
     |     .
     |     .
     |     instrucțiune n;
     | sfârșit;
pre.c
  code {
     |     instrucțiune 1;
     |     instrucțiune 2;
     |     instrucțiune 3;
     |     .
     |     .
     |     .&#10;
     |     instrucțiune #[span.hljs-number n];&#10;
     | };
