pre.lang-pseudo
  code daca (&lt;expresie>) atunci S1;
     |                  [altfel S2;] - clauza opțională
pre.c
  code if (&lt;expresie>) {
     |     S1;
     | }
     | else {
     |     S2;
     | };
