pre.lang-pseudo
  code pentru (contor &#8592; vi,vf; [&lt;pas v>]) executa
     |     secventa de instructiuni;
pre.c
  code for (contor = vi; contor &lt;=vf; contor++) {
     |     secventa de instructiuni;
     | };
