pre.lang-pseudo
  code executa
     |     secventa de instructiuni;
     | cat timp (&lt;expresie>)
pre.lang-pseudo
  code secventa de instructiuni;
     | cat timp (&lt;expresie>) executa
     |     secventa de instructiuni;
pre.c
  code do
     |     secventa de instructiuni;
     | while (&lt;expresie>);
pre.c
  code secventa de instructiuni;
     | while (&lt;expresie>)
     |     secventa de instructiuni;
