pre.lang-pseudo
  code cat timp (&lt;expresie>) executa
     |     secventa de instructiuni;
pre.lang-pseudo
  code daca (&lt;expresie>) atunci
     |     executa
     |         secventa de instructiuni;
     |     cat timp (&lt;expresie>)
pre.c
  code while (&lt;expresie>) {
     |     secventa de instructiuni;
     | };
pre.c
  code if (&lt;expresie>) {
     |     do
     |         secventa de instructiuni;
     |     while (&lt;expresie>);
     | };
