pre.lang-pseudo
  code pentru (i &#8592; vi, vf) executa
     |     secventa de instructiuni;
pre.lang-pseudo
  code i &#8592; vi;
     | daca i &lt;= vf atunci
     |     executa
     |         secventa de instructiuni;
     |         i &#8592; i+1;
     |     cat timp (i &lt;= vf)
pre.c
  code for ( i=vi; i&lt;=vf; i++ )
     |     secventa de instructiuni;
pre.c
  code i=vi;
     | if ( i&lt;=vf ) {
     |     do {
     |         secventa de instructiuni;
     |         i++;
     |     }
     |     while ( i&lt;=vf );
     | }
