pre.lang-pseudo
  code pentru (i &#8592; vi, vf) executa
     |     secventa de instructiuni;
pre.lang-pseudo
  code i &#8592; vi; &#10;cat timp (i &lt;= vf) executa
     |     secventa de instructiuni;
     |     i &#8592; i+1;
pre.c
  code for ( i=vi; i&lt;=vf; i++ )
     |     secventa de instructiuni;
pre.c
  code i=vi; &#10;while ( i&lt;=vf ) {
     |     secventa de instructiuni;
     |     i++;
     | }
