pre.lang-pseudo
  code max &#8592; MAXINT
     | pentru i &#8592; 1, n execută
     |     citește x
     |     dacă x>max atunci
     |         max &#8592; x
pre.lang-pseudo
  code citește x
     | max &#8592; x
     | pentru i &#8592; 2, n execută
     |     citește x
     |         max &#8592; x
