pre.lang-pseudo
  code cât timp n&#8800;0 execută
     |     c &#8592; n%10
     |     &lt;prelucrare c>
     |     n &#8592; [n/10]
pre.lang-pseudo
  code citește n
     | s &#8592; 0
     |     cât timp n&#8800;0 execută
     |     c &#8592; n%10
     |     s &#8592; s+c
     |     n &#8592; [n/10]
     | scrie s
