pre.lang-pseudo
  code citește n
     | n1 &#8592; 0
     | p &#8592; 1
     | cât timp n&#8800;0 execută
     |     n1 &#8592; p*n%10 + n1
     |     p &#8592; p*10
     |     n &#8592; [n/10]
     | scrie n1
