pre.lang-pseudo
  code citește a, b
     | x &#8592; a
     | y &#8592; b
     | cât timp x&#8800;y execută
     |     dacă x&lt;y atunci
     |         x &#8592; x-y
     |     altfel
     |         y &#8592; y-x
     | scrie 'cmmdc=', x
     | scrie 'cmmmc=', a*b/x
