pre.lang-pseudo
  code citește n
     | pentru d &#8592; 2, [n/2] execută
     |     dacă n%d=0 atunci
     |         scrie d
pre.lang-pseudo
  code citește n
     | pentru d &#8592; 2, |sqrt(n)| execută
     |     dacă n%d=0 atunci
     |         scrie d, ' ', n/d, ' '
