pre.lang-pseudo
  code citește n
     | d &#8592; 2
     | cât timp n>1 execută
     |     dacă [n/d]=0 atunci
     |         p &#8592; 0
     |         cât timp [n/d]=0 execută
     |             n &#8592; [n/d]
     |             p &#8592; p+1
     |         scrie d, '^', p
     |     d &#8592; d+1
