pre.c
  code cin >> &lt;var_sir>;
p citeste primul cuvant/caracter pana la intalnirea primului separator (#[code.git TAB], #[code.git SPACE])
pre.c
  code #include &lt;stdio.h> &#10;gets(&lt;var_sir>);
p citeste intreg sirul de caractere pana la #[code.git ENTER]
