pre.c
  code char *&lt;id>;
pre.c
  code char *s="PROGRAM", *t;
     | void main() {
     | &#09;strcpy(s, "PROGRAM");
     | &#09;cout << s+3 << endl;
     | &#09;t = s+5;
     | &#09;puts(t);
     |}
pre.console.nohighlight
  code GRAM
     | AM
