pre.c
  code for (int i=0; i&lt;n-1; i++)
     |     for (int j=i+1; j&lt;n; j++) {
     |         if ( v[i]>v[j] ) {
     |         int temp = v[i];
     |         v[i] = v[j]
     |         v[j] = temp;
     |     }
     | }
