pre.c
  code struct &lt;id_structura> {
     |     &lt;tip_1> &lt;lc_1>
     |     &lt;tip_2> &lt;lc_2>
     |     &lt;tip_3> &lt;lc_3>
     |     .
     |     .
     |     .
     |     &lt;tip_n> &lt;lc_n>
     | }
small ex:
pre.c
  code struct prod {
     |     char den[20];
     |     float pret, val;
     |     int cant;
     | } pr1, pr2;
