pre.c
  code typedef &lt;tip> &lt;nume_tip>
small ex:
pre.c
  code typedef struct {
     |     char den[20];
     |     float pret, val;
     |     int cant;
     | } TPROD;
     | 
     | TPROD pr;
     | TPROD v[24];
