pre.c
  code typedef struct {
     |     int ziua, luna, anul;
     | } TDATA;
     | 
     | typedef struct {
     |     char den[20];
     |     float pret, val;
     |     int cant;
     |     TDATA data_in;
     | } TPROD;
     | 
     | int main() {
     |     TPROD p[50], pr;
     | }
pre.c
  code pr.data_in.anul;
     | p[i].data_in.ziua;
